

<h3 style="color:red;">Rolling: {{fireRollName}} ID({{roll}}) {{fireHtmlcont}}</h3>
 			 <div id="bpg">
			    <div id="mainDiv">      
			        <div id="svgDiv" style="font-size:15px;"></div>    
			    </div>
			</div>

	<div style="vertical-align:center;background-color:lightgrey;">
		<div class="row">
			<div ng-repeat="url in imageUrls" class="col-sm-1">
	        	<img src="{{url}}" alt="Chania" width="40px" height="45px"/>
			</div>
		</div>
	</div>
	
	<form><br/>
		<div class="row">
		<div class="col-sm-3"><button class="btn btn-danger" ng-disabled="disableOptIn" ng-click="optThisRoll(roll)">Join (F)</button></div>
		<div class="col-sm-3"><button class="btn btn-danger">Invite M</button></div>
		<div class="col-sm-3"><button class="btn btn-danger">Roll (I)</button> </div>
		<div class="col-sm-3"><button class="btn btn-danger">Sponsor (I)</button></div>
		</div><br/>
	</form>
			